@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Source+Sans+Pro:wght@400;600;700&display=swap');
.headerTitle{
  font-family: Happy Monkey;
  font-style: normal;
  font-size: 40px;
  line-height: 54px;
  text-align: center;
  color: #A4243B;
  border: 2px;
  border-color: #A4243B;
}
.createNote{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titleArea{
  display: flex;
  justify-content: flex-end;
}
.titleNoteArea{
  background-color: #F7DA90;
  width: 200px;
  height: 25px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  font-family: 'Source Sans Pro', sans-serif;
}
.noteArea{
  background-color: #F7DA90;
  width: 300px;
  height: 150px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  font-family: 'Source Sans Pro', sans-serif;
}
.buttonArea{
  display:flex;
  justify-content: flex-end;
}
.buttonSave{
  background-color: #BF6455;
  width: 100px;
  height: 25px;
  background: #C06455;
  border: none;
  border-radius: 5px;
  font-family: Happy Monkey;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
  
}
